@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar sesión";
}

<style>
    #img {
        display: block;
        margin: 0 auto;
        max-height: 100%;
        height: 90%;
        max-width: 100%;
        width: 90%;
        margin-top: 5%;
    }
</style>

<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-11 col-md-9 pr-0">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body d-flex align-content-center justify-content-center p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row d-flex">
                        <div class="col-lg-6 pr-0">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-3">¡Bienvenido!</h1>
                                </div>
                                <div class="row">
                                    <section>
                                        <form id="account" method="post">
                                            @*<h4>Usa una cuenta frecuente</h4>*@
                                            <h4>Indique los datos de su cuenta</h4>
                                            <hr />
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <div class="form-group m-3">
                                                <label asp-for="Input.Email"></label>
                                                <input asp-for="Input.Email" class="form-control" />
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                            <div class="form-group m-3">
                                                <label asp-for="Input.Password"></label>
                                                <input asp-for="Input.Password" class="form-control" />
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox m-3">
                                                    <label asp-for="Input.RememberMe">
                                                        <input asp-for="Input.RememberMe" />
                                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group m-3">
                                                <button type="submit" class="btn btn-primary m-2">Iniciar Sesión</button>
                                            </div>
                                            <div class="form-group">
                                                @*<p>
                                                    <a id="forgot-password" asp-page="./ForgotPassword">¿Olvidó su contraseña?</a>
                                                </p>*@
                                                <p class="mb-0 m-3">
                                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar nuevo usuario</a>
                                                </p>
                                            </div>
                                        </form>
                                    </section>
                                </div>
                                @{
                                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                    {
                                        <div>
                                            @*<p>
                                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                                for details on setting up this ASP.NET application to support logging in via external services.
                                            </p>*@
                                        </div>
                                    }
                                    else
                                    {
                                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                            <div>
                                                <p>
                                                    @foreach (var provider in Model.ExternalLogins)
                                                    {
                                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Iniciar sesión utilizando su cuenta @provider.DisplayName">@provider.DisplayName</button>
                                                    }
                                                </p>
                                            </div>
                                        </form>
                                    }
                                }
                            </div>
                            <div class="col-lg-6 px-3">
                                <div class="text-center">
                                    <img src="~/img/fondo/mano_fondo_azul.png" class="img-fluid" id="img"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@*----ACA MODIFICO EL 8-04*@




