@using System.Collections
@model IEnumerable<DigiLearn.ModelsView.PacienteView>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container col-12">

    <div class="row">
        <div class="col-sm-6">
            <h3>PACIENTES</h3>
        </div>
        <div class="col-sm-6">
            <a class="btn btn alert-success d-block" asp-action="Create" asp-controller="Paciente">Agregar Paciente</a>
        </div>
    </div>

    <div class="row">
        @if (Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-hover table-striped align-middle text-center">
                    <thead class="table-light sticky-top">
                        <tr>
                            <th scope="col">@Html.DisplayNameFor(m => m.PacienteId)</th>
                            <th scope="col">@Html.DisplayNameFor(m => m.Nombre)</th>
                            <th scope="col">@Html.DisplayNameFor(m => m.Edad)</th>
                            <th scope="col">@Html.DisplayNameFor(m => m.Diagnostico)</th>
                            <th scope="col">@Html.DisplayNameFor(m => m.FechaCreacion)</th>
                            @*<td>@Html.DisplayNameFor(m => m.AuditorId)</td>*@
                            <td>Acciones</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.PacienteId</td>
                                <td>@item.Nombre @item.Apellido</td>
                                <td>@item.Edad</td>
                                <td>@item.Diagnostico</td>
                                <td>@item.FechaCreacion</td>
                                <!-- Botón Details -->
                        <td><a class="btn btn alert-primary" asp-action="Details" asp-controller="Paciente" asp-route-id="@item.PacienteId">XXXX</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>En el momento no hay pacientes que mostrar.</p>
            <div class="col-sm-6">
                <a class="btn btn alert-success d-block" asp-action="Create" asp-controller="Pacientes">Agregar Paciente</a>
            </div>
        }
    </div>
</div>
